body{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 6%, rgba(121,9,28,1) 65%, rgba(198,20,23,1) 100%);
 
}

#title{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    
}

#title:hover{
    color: rgb(238, 8, 8);
    transform: scale(1.1);
}

#introduccion{
    text-align: center;
    color: white;
    border: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: rgb(129, 7, 7);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#introduccion h2{
    color: rgb(0, 0, 0);
}

img {
    border-radius: 8px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#personajes{
    text-align: center;
    color: white;
}

#personajes:hover {
    color: rgb(238, 8, 8);
    transform: scale(1.1);
}

.accordion {
    width: 50%;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #c24040;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accordion-content {
    display: none;
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



.accordion-item.active .accordion-content {
    display: block;
    max-height: 1000px; 
    opacity: 1;
}



.accordion-header:hover {
    background-color: yellow; 
}


#joaco {
    
    width: 100%;
    border-radius: 15px;
    
   
}
.container{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}



#boca1-2flu{
    
    padding: 20px;
    text-align: center;
    background-color: beige;
    border-radius: 15px ;

}


#miLista {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}


#miLista li {
    margin: 5px 0;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


#miLista li:hover {
    background-color: #2980b9;
}



